{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="form-container mb-3">
    <h2>Login</h2>
    {% if form.non_field_errors %}
      <div class="messages">
        {% for error in form.non_field_errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <form method="post" class="login-form">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% render_field field class="form-control" %}
          {% if field.errors %}
            {% for error in field.errors %}
              <div class="error">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="mt-3">
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-success">Login with Google</a>
    </div>
  </div>
{% endblock %}
