{% extends 'base.html' %}

{% block content %}
  <div class="post-content">
    <h1 class="page-title">{{ post.title }}</h1>
    {%  if post.user.id == request.user.id %}
      <p><a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit post</a> </p>
    {% endif %}
  
    <p>posted by <b><a href="{% url 'user_info' post.user.id %}">{{ post.user.first_name }}</a></b> on {{ post.created_at }}</p>
  
    <p>{{ post.description }}</p>

    <div class="post-images">
      {% for image in images %}
        {% if image.image %}
          <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endif %}
      {% endfor %}
    </div>

    <div class="post-tags">
      <ul>
        {% for tag in tags %}
          <li>{{ tag.tag_name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}